services:

  db:
    image: postgres:latest
    container_name: databaseContainer
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadminContainer
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8082:80"
    depends_on:
      - db
    networks:
      - appnet

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backendContainer
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontendContainer
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - appnet

volumes:
  postgres_data:

networks:
  appnet:
