/* Estilização da Toolbar */
.topbar {
  background-color: #2d124b !important;
  display: flex;
  justify-content: space-between; /* Alinha o título à esquerda e os botões à direita */
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

/* Estilo do título */
.topbar-title {
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Contêiner dos botões */
.topbar-buttons {
  display: flex;
  gap: 16px;
}


.topbar-button:focus{
  outline: none;
  box-shadow: none;  /* Remove qualquer sombra adicional */
}


/* Estilo dos botões */
.topbar-button {
  color: #ffffff !important;
  background-color: #6563ee !important;
}

/* Estilo do hover nos botões */
.topbar-button:hover {
  background-color: #8180f0 !important;
}
